
/*AZTERKETAK  ...........  */
.azterrontziBurua{
  border-bottom: .5rem #110392 solid;
  text-align: center;
  color: #fff;
}
.azterMartxa{
  cursor: pointer;
}
.azterrontzia{
  content: "";
  display: table;
  clear: both;
  padding: 0.01em 16px;
  display: none
}
 .grid-container {
  padding:3rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  text-align: left;
  font-size: 1em;
}
.eranLekua{
	font-size:.0.2em;
	background:rgb(233, 232, 232);
	text-align:left;
	color:rgb(1, 1, 73);
}
.azterMartxa{
  text-align: center;
}
form{
  padding:.5rem;
  }
  fieldset{
    border:.05rem solid #110392;
  }
.labela{
  margin-left:5px;
  font-size: 14px;
}
legend{
  font-size: 16px;
  color: #110392;
}
.azterrontziOina{
  text-align:center;
}
.azterrontziOina p{
  font-size: 1.5rem;
  font-family: monospace;
}
.azterrontziOina button{
  background-color: rgb(4, 185, 13);
  color:white; 
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 1.5em;
}
.azterrontziOina button:hover{
  background-color: rgb(6, 248, 18); 
}
  /*Webguneak saileko azterketako eremua  BUKA*/

  /*Lengoaiak saileko lantegiko eremua  HASI*/
.lengoaiGaldetegia{
  box-shadow:1px 1px 1px 4px rgba(50, 50, 250, 0.2);
  text-align: center;
}
.lengoaiGaldera{
  font-size: 1.2em;
  }
.lengoaiAukerak{
  margin:1.3rem;
  padding: 1rem;
}
.lengoaiEmaitza{
  padding: 1.2rem;
  font-size: 1.5rem;
  text-align: center;
}
lengoaiaBotoia {
  margin-top: 10px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}
lengoaiaBotoia:hover {
  background-color: #04f510;
}
  
/*----------------Hiriburu azterketa  ..........--------------------*/
.correctas{
  padding:10px;
  background: green;
  color:white;
  border-radius:5px;
}
.incorrectas{
  padding:10px;
  background: red;
  color:white;
  border-radius:5px;
}
.respuestas{
  padding:10px;
  background: rgb(181, 232, 243);
  color:#110392 ;
  border:#110392 2px inherit;
  border-radius:5px;
}
.score{
  text-align: center;
}
.azterBotoia{
  text-align: center;
}
.answers button{
  padding:10px 40px;
  margin:5px;
  font-size: 16px;
  background: #110392;
  color:white;
  border-radius:5px;
  cursor: pointer;
}
.answers button:hover{
  font-style: oblique;
}
.erantzuntokia{
  font-size: 18px;
  text-align: center;
}


/*----------------Menu barra froga  ..........--------------------*/
