*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #f1f1f1;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*pantaila burua......   HASI*/
header{
  text-align: center;
  background: #ccc;
  display: block;
  height: 200px;
}
.goiburua{
  text-align: center;
}
.goiburua .prais-ikonoa{
  margin-top:0;
}
.goiburua .prais-ikonoa img{
  align-content: center;
  width: 200px;
}
@media (max-width: 1200px) {
  header{
    height: 100px;
  }
  .goiburua .prais-ikonoa img{
    align-content: center;
    width: 100px;
  }
}
/*Pantaila burua............   BUKA*/
.banaketaTxikia{
  padding-top: 10px;
  padding-bottom: 10px;
}
/*menu barra ezker-eskuin  ....HASI*/

.saioAtalak-lau{
  width: 100%;
  display: flex;
  align-items: center;
  background-color:#030c88;
}
.saioAtalak-lau #header {
  margin:0 auto;
  font-family:Arial, Helvetica, sans-serif;
}
.saioAtalak-lau ul, ol {
  list-style:none;
}
.saioAtalak-lau .nav > li {
  float:left;
}
.saioAtalak-lau .nav li a {
  background-color:#030c88;
  color:#fff;
  text-decoration:none;
  padding:10px 18px;
  display:block;
}
.saioAtalak-lau .nav li a:hover {
  background-color:#0470b7;
}
.saioAtalak-lau .nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}
.saioAtalak-lau .nav li:hover > ul {
  display:block;
}
.saioAtalak-lau .nav li ul li {
  position:relative;
}
.saioAtalak-lau .nav li ul li ul {
  right:-140px;
  top:0px;
}
/*menu barra ezker-eskuin ........BUKA*/
/*Azaleko Eduki nagusia, aurkezpena ''index.html''......HASI   */
main{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
main .azalburua {
  text-align: center;
}
h2{
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  color:rgb(2, 2, 130);
}
h3{
  font-size: 30px;
  padding-top: 28px;
  color:rgb(2, 2, 130);
}
h4{
  font-size: 26px;
  color:rgb(2, 2, 130);
}
h5{
  font-size: 20px;
  color:rgb(2, 2, 130);
}
h6{
  text-indent: 1em;
  font-size: 18px;
  color:rgb(2, 2, 130);
}
p{
  font-weight: 400;
  text-indent: 1em;
  margin-bottom:10px;
  text-align: justify;
  font-size: 18px;
}
/*IRUDIAK  ...........   */
.irudiKutxa{
  padding: 20px;
  text-align: center;
}
.irudiKutxaEzk{
  float: left;
  padding: 0px 20px 0px 0px;
}
.irudiKutxaEsk{
  float: right;
  padding: 0px 20px 40px 0px;
}
figcaption{
  color:#110392;
  font-style: italic;
  font-size: 1em;
  text-align: center;
}
.irudiTestuKaxa{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.irudiTestua{
text-align: left;
}
irudiKaxa{
text-align: center;
}
/*Azalpenak emateko koadro grisak letra urdinskarekin (h6).......*/
.garrantzi-oinarrizko{
  padding: 1rem;
  text-align: justify;
  background: #edebeb;
  margin-top: 1rem;
  margin-bottom: .5rem;  
}
/*Zerrenden kontuak.......................*/
.zerrendaArruntak{
  padding-left: 5rem;
}
.zerrendaArruntak li{
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.zerrendaArruntak li p{
  text-indent: 0px;
}
/*Azaleko Eduki nagusia, aurkezpena ''index.html'' ......BUKA   */
/*Azaleko gida didaktikoen etiketak GIDA EREMUA....... */
.gidatala{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  align-items: center;
}
.gida{
  text-align: center;
  box-shadow:1px 1px 1px 4px rgba(50, 50, 250, 0.2);
  padding: 20px;
  height: 300px;
}
.gida:hover{
  box-shadow: 0 4px 10px 0 rgba(97, 178, 250, 0.2), 0 4px 50px 0 rgba(1, 141, 247, 0.19);
}
.gida i{
  font-size: xx-large;
}
.gida h3{
  font-size: 1.4em;
}
.gida p{
  text-align: left;
  font-size: 1.15em;
  font-weight: 200;
}
@media (max-width: 1200px) {
  .gidatala{
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
  }
}
@media (max-width: 750px) {
  .gidatala{
    grid-template-columns: repeat(1, 1fr);
    gap:5px;
  }
}
/*--------------Ikasgaien GRID-ari dagozkion erregelak--  HASI  */
.ikasgaienAtala{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  align-items: center;
}
.ikasgaia{
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(43, 114, 1, 0.16), 0 2px 10px 0 rgba(37, 156, 1, 0.12);
  min-height: 400px;
  padding: 20px;
  height: 300px;
}
.ikasgaia:hover{
  box-shadow: 0 4px 10px 0 rgba(59, 158, 4, 0.2), 0 4px 50px 0 rgba(58, 180, 4, 0.19);
}
.ikasgaia ul{
  text-align: left;
  font-size: 1.15em;
  font-weight: 200;
}
.ikasgaia a{
  color:#110392;
}
.ikasgaia h3{
  font-size: 1.4em;
  color:#027908;
}
.ikasgaia p{
  text-align: left;
  font-size: 1.15em;
  font-weight: 200;
}
@media (max-width: 1200px) {
  .ikasgaienAtala{
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
  }
}
@media (max-width: 750px) {
  .ikasgaienAtala{
    grid-template-columns: repeat(1, 1fr);
    gap:5px;
  }
}
/*---Azaleko-----------Ikasgaien GRID-ari dagozkion erregelak-- BUKA */
.sarenagusia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.edukiontzia {
  width: 75%;
  padding: 15px;
  box-shadow: 0 5px 50px 0 rgba(183, 184, 182, 0.16), 0 2px 30px 0 rgba(74, 74, 74, 0.12);
}
.edukiontzia .eduki-leihoa iframe {
  border:0;
  width: 100%;
  background: #ededed;
}
/*Azalpenak emateko koadro grisak letra urdinskarekin (h6).......*/
.garrantzi-oinarrizko{
  padding: 1rem;
  text-align: justify;
  background: #d5d5d5;
  margin-top: 1rem;
  margin-bottom: .5rem;  
}
.garrantzi-oinarrizko p{
  font-size: 1em;
  font-family: system-ui, sans-serif;
  font-weight: 400;
  color:#110392;
}
.garrantzi-oinarrizko a:hover{
  color:#085e02;
  font-weight: 700;
}
/*Zerrenden kontuak.......................*/
.zerrendaArruntak{
  padding-left: 5rem;
}
.zerrendaArruntak li{
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.zerrendaArruntak li p{
  text-indent: 0px;
}
/*Ikasgaien 'section' atalak*/
/*'section' atalaren goiburua*/
.ikasgaiarena{
  padding: 1rem;
}
.ikasgaiBurua{
  text-align: center;
}
.ikasgaiBurua h2{
  font-size: 70px;
}
.ikasgaiBurua .saioAtalak{
  text-align: center;
}
.ikasgai-leihoa{
  width:100%;
  margin: 0 auto;
  /*background: rgba(50, 50, 250, 0.2);*/
  box-shadow:1px 1px 8px 8px rgba(50, 50, 250, 0.2);
  padding: 1rem;
}
.ikasgai-leihoa iframe{
  border: none;
  width:100%;
}
.edukiontzia .eduki-leihoa iframe {
  border:0;
  width: 100%;
  background: #ededed;
}
/*---Ereduko txantiloia----------menu barra bertikala---------- HASI */
.albozutabea {
  width: 25%;
  box-shadow: 0 2px 10px 0 rgba(192, 192, 191, 0.16), 0 2px 5px 0 rgba(211, 210, 210, 0.12);
  background-color: #d5d5d5;
}
ul.acorh,
ul.acorh * {
margin: 0px;
padding: 0;
border: 0;
}
ul.acorh {
margin: 10px auto;
padding: 10px;
list-style: none;
width: 100%;
font-size: 18px;
}
ul.acorh li {
list-style: none;
width: 100%;
}
ul.acorh li a {
display: block;
padding: 10px 10px 10px 20px;
background: #0d028b;
color: #eee;
border-bottom: 1px solid #0d028b;
border-top: 1px solid #666;
text-decoration: none;
box-sizing: border-box;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .3s all ease-in;
}
ul.acorh li li a {
padding: 10px 10px 10px 40px;
background: #b8d2f0;
color: #220387;
font-size: 16px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
}
ul.acorc li li:last-child a {
border-bottom: 0;
}
/*ul.acorh li:target ul {
  max-height: 300px;
  transition: .3s all ease-in;
  }*/
ul.acorh li:hover ul {
max-height: 800px;
transition: .3s all ease-in;
}
ul.acorh li a:hover {
background: #666;
color: #fff;
}
/*---Ereduko tXAntiloia----------menu barra bertikala---------- BUKA */

/*Kode atalak pre-code   ......... */
pre{
  width: 70%;
  margin:0 auto;
  border:1px darkblue dashed;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 20em;
}
/*Orrialdearen goiburura joateko botoiaren ezaugarriak HASI --------------*/ 
.toTop {
  border: none;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
  /* posición */
  position: fixed; right: 1rem; bottom: 10rem; z-index: 9999;
}
.toTop:not(.is-visible) {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-2rem);
}
.toTop svg {
  stroke-width: 3px;
  stroke: currentColor;
  fill: none;
  width: 24px;
  height: 40px;
}
/* Personalizar */
.toTop {
  background-color: rgb(20, 4, 112);
  box-shadow: 0 1px 3px rgba(204, 203, 203, 0.5);
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: #fff;
}
/*Orrialdearen goiburua joateko botoiaren ezaugarriak BUKA --------------*/
/*Oinean oinetakoa FOOTER*/
footer{
  background: #ccc;
  text-align: center;
}
/*AZTERKETAK  ...........  */
.azterrontziBurua{
  border-bottom: .5rem #110392 solid;
  text-align: center;
  color: #fff;
}
.azterrontzia{
  content: "";
  display: table;
  clear: both;
  padding: 0.01em 16px;
  display: none
}
 .grid-container {
  padding:3rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  text-align: left;
  font-size: 1em;
}
.eranLekua{
	font-size:.0.2em;
	background:rgb(233, 232, 232);
	text-align:left;
	color:rgb(1, 1, 73);
}
.azterBotoia{
  text-align: center;
}
form{
  padding:.5rem;
  }
  fieldset{
    border:.05rem solid #110392;
  }
.labela{
  margin-left:5px;
  font-size: 14px;
}
legend{
  font-size: 16px;
  color: #110392;
}
.azterrontziOina{
  text-align:center;
}
.azterrontziOina p{
  font-size: 1.5rem;
  font-family: monospace;
}
.azterrontziOina button{
  background-color: rgb(4, 185, 13);
  color:white; 
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 1.5em;
}
.azterrontziOina button:hover{
  background-color: rgb(6, 248, 18); 
}
  /*Webguneak saileko azterketako eremua  BUKA*/

  /*Lengoaiak saileko lantegiko eremua  HASI*/
.lengoaiGaldetegia{
  background: #ccc;
  text-align: center;
}
.lengoaiGaldera{
  font-size: 1.2em;
  }
.lengoaiAukerak{
  margin:1.3rem;
  padding: 1rem;
}
.lengoaiEmaitza{
  padding: 1.2rem;
  font-size: 1.3em;
  text-align: center;
}
lengoaiaBotoia {
  margin-top: 10px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}
lengoaiaBotoia:hover {
  background-color: #04f510;
}
  


/*----------------Menu barra froga  ..........--------------------*/
